*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    background-color: rgb(238, 242, 245);
    padding: 30px;
    border: 1px solid black;
}
form input,button{
    padding: 20px 7px;
    border: 1px solid black;
    background-color: white
}
form input::placeholder{
    font-size: 20px;
}
span {
    color: red;
}
button{
    background-color: rgb(6, 139, 39);
    color: white;
    font-size: 25px;
}

/* form.php page design */
/* upload img design */
.uploadedImg {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* table design */

h3,
h2 {
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table th {
    padding: 20px;
    background-color: green;
    color: white;
}

table td {
    padding: 20px;
}

